*{
  box-sizing: border-box;
}
body {
  background-color: #20202D;
  margin: 0;
  padding: 0;
  color: #fff;
}
.hero{
  padding-top: 40px;
}
.container{
  max-width: 1100px;
  border: 1px solid red;
  margin: 0 auto;
}
.hero-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-link{
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
}





