* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {         
    background-color: #000;     
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 30px 100px;
    z-index: 10000;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
}
header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li {
    position: relative;
    list-style: none;
}
header nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: .6s;
}
header.sticky .logo,
header.sticky nav ul li a {
    color: #000;
}
body .Do_it {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100vh;
}
h2 {    
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span {
    transition: .4s; /*время движения*/
}
h2:hover span:nth-child(1) { 
    display:none;
}
h2:hover span:nth-child(2)::before { 
    content: "Д";
} 
h2:hover span:nth-child(2) {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff;
}
.main {
    padding: 0 100px;
}
.main p {
    color: #fff;
    
}




    

